{% extends "layout.html" %}

{% block content %}
<div class="container" style="min-height: 550px;">
  <div class="error-404">
    <a class="home-link waves-effect waves-light btn" href="/"></a>
    <h2>410</h2>
    <p>
      New secrets creation has been disabled.
      Sharelock.io is being ended and the service will be shut down August 1st, 2021.
      After this date Sharelock will no longer be available, and you will not be able to retrieve any previously shared
      secrets.
    </p>
  </div>
</div>
{% endblock %}
